VAYUJIT_ENVIRONMENT=development
VAYUJIT_LOG_LEVEL=INFO
VAYUJIT_API_HOST=127.0.0.1
VAYUJIT_API_PORT=8000
VAYUJIT_WEB_ORIGIN=http://127.0.0.1:4200
VAYUJIT_DATABASE_URL=postgresql+psycopg://vayujit:vayujit_dev@127.0.0.1:5432/vayujit
